@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

:root{
    --primary-color: #dfe6eb;
}

.serial .fields{
    display: flex;
    gap: 1.5rem;
}

.alumni-grid .fields{
    padding: 0 0 3px 25px;
}

.alumni-grid span{
    font-family: 'Rajdhani', sans-serif;
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem;
}

.alumni-grid label{
    color: rgb(8, 102, 102);
    text-decoration: underline;
}

.first-info{
    display: flex;
    flex-direction: column;
}
.first-info .fields img{
    margin:  10px 80px;
}
.first-info .fields{
    margin: 10px 25px;
}


.button-container{
    display: flex;
    height: 30px;
}

/* Main grid container */
.alumni-grid{
    font-family: 'Roboto', sans-serif;
    color: #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(2rem, auto);
    gap: 1em;
}

.grid-0{
    background-color: var(--primary-color);
    grid-column: 1/span 3;
    padding-top: 15px;
}
.grid-1{
    background-color: var(--primary-color);
    grid-area: 2 / 1 / 3 / 2;
}
.grid-2{
    background-color: var(--primary-color);
    grid-area: 2 / 2 / 3 / 4;
}
.grid-3{
    background-color: var(--primary-color);
    grid-area: 3 / 1 / 4 / 2;
}
.grid-4{
    background-color: var(--primary-color);
    grid-area: 3 / 2 / 4 / 3;
}
.grid-5{
    background-color: var(--primary-color);
    grid-area: 3 / 3 / 4 / 4;
}

/* Nested grid container */
.nested-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(40px, auto);
}

.sub-grid-0{
    grid-column: 1 / span 3;
}
.sub-grid-1{
    grid-area: 2 / 1 / 3 / 2;
}
.sub-grid-3{
    grid-area: 2 / 2 / 3 / 3;
}

